.container {
    width: 1024px;
    background-color: rgb(213, 137, 37);
    
    /* Min-height is used to fit all the content into the container. Height minimally must be 300px but can go bigger if there're more stuff to accommodate. */
    min-height: 300px ;

    /* margin can be used to center the whole container. see below.  */
    margin: auto;
}

header {
    background-color: rgb(67, 50, 50);
    min-height: 100px;
}

main {
    background-color: rgb(157, 125, 125);
    min-height: 300px;
    display: flex;
}

.cards {
    background-color: rgb(129, 193, 57);
    min-height: 300px;
    
    /* Flex box arranges boxes horizontally instead of the default vertical alignment. See below! */
    display: flex;

    /* To allocate equal spaces between cards, use justify-content: space between! See below */
    justify-content: space-between;
}

.card1 {
    background-color: black;
    min-height: 300px;
    width: 30%;
}

.card2 {
    background-color: black;
    min-height: 300px;
    width: 30%;
}

.card3 {
    background-color: black;
    min-height: 300px;
    width: 30%;
}

.herobox1 { 
    background-color: blueviolet;

    /* Flex: 2 will make up 2 parts of the width and similiarly for below, herobox2 will make up 1 part. It's more of a ratio thing. */
    flex: 2;

    /*  To centre content, use   */
}


.herobox2 { 
    background-color: burlywood;
    flex: 1;
}